- if redirect_to
  -# Redirect via Javascript
  window.location = '#{redirect_to}';

- elsif callback
  -# JSONP callback
  #{callback}(#{user_agent.to_json(result)})

- else
  -# Default action; inline notification. This uses the following parameters:
  -# - link
  = Uglifier.compile render(:js, :'scripts/bad_browser')
