.wrap.container
  %h1 Demo
  
  %p 
    Here is a preview of the default response for Bad Browser. The 'click here' link that is include within the notification 
    is cutomizable using the 
    %code link
    parameter. Check out the
    %a{:href => '/docs'} documentation
    for more details on how to use this parameter.
  
  %p
    Note that, we are forcing a "bad" response using the 
    %code _forced
    parameter. Thus, the notification will always be shown, regardless if the browser is up-to-date or not.
  
%script{:src => '/detect.js?_forced=1'}