.wrap.container
  %h1 Demo
  
  %p 
    Here is a preview of the default response for Bad Browser. The 'click here' link that is include within the notification 
    is cutomizable using the 
    %code link
    parameter. Check out the
    %a{:href => '/docs'} documentation
    for more details on how to use this parameter.
  
%script{:src => '/detect.js?_forced=1'}