.wrap.container.faq
  %h1 FAQ
  
  %ul
    %li
      %h2 Is it free to use?
      %p Absolutely! We expect nothing in return. Feel free to use our API on sites both large and small.
      
    %li
      %h2 How does it work?
      %p 
        BadBrowser parses the user-agent string from the HTTP request in order to identify which browser and version
        is being used. Depending  the options provided and on what is detect, we generate some Javascript code to send
        back to the user.
