.wrap.container
  .desc
    %h1 Why use Bad Browser?
    %p 
      Some vistors to your site are using outdated browsers. These old versions can cause your site to render incorrectly or prevent certain features from working.
    
    %p 
      There is no sense in having your application parse user-agents or write browser sniffing client code. 
      These sorts of things are time comsuming and can be a misuse of resources.
    
    %p
      We built Bad Browser to solve this exact problem. Our API is able to indentify a user's browser version through their user agent. When an outdated version is detected,
      we let the user and your application know through a variety of ways.
    
  .form
    %div
      %textarea
      
      %div.options
        %input{:type => 'radio', :name => 'option', :id => 'redirect', :value => 'redirect'}
        %label{:for => 'redirect' } Redirect 
      
        %input{:type => 'radio', :name => 'option', :id => 'callback', :value => 'callback'}
        %label{:for => 'callback' } JSONP Callback 
      
        %input{:type => 'radio', :name => 'option', :id => 'default', :value => 'default', :checked => true}
        %label{:for => 'default' } Default
      
      %div.default.lower
        %label Display Link:
        %input{:type => 'text', :placeholder => 'Enter Optional Link'}
      
      %div.callback.lower
        %label Callback Function:
        %input{:type => 'text', :placeholder => 'Enter Callback Function'}
        
      %div.redirect.lower
        %label Redirect URL:
        %input{:type => 'text', :placeholder => 'Enter Redirect URL'}
      
    %a.button.right{:id => 'generate'}
      %span Generate
      
#middle
  .wrap.container
    %h3.left Our API Current Covers the "Big 5" Desktop Browsers
    %img.right{:alt => "Internet Explorer, Firefox, Chrome, Safari and Opera", :src => "/img/browsers.png", :title => "We support these browsers!"}/
  
.wrap
  #features.container
    %ul
      %li
        %img.icon{:src => "/img/icons/features.png", :alt => ''}/
        %h4 Customizable API
        %p
          API responses can be configured to display a notification at the top of the page, redirect the user to specified URL
          or have a JSONP style callback be triggered. These options let you integrate our API in a variety of ways.
      %li
        %img.icon{:src => "/img/icons/locked.png", :alt => ''}/
        %h4 Increase Security
        %p
          Users who run outdated browser versions are susceptible to all sorts of software vulnerabilities and security issues.
          By using our API, you will help improve the overall security of the interweb ecosystem.
      %li
        %img.icon{:src => "/img/icons/star.png", :alt => ''}/
        %h4 Easy Integration
        %p
          We built Bad Browser so that both the largest and the smallest web sites and applications can use our service with ease. Using our API is as simple as
          dropping in a script element to your page!
          
%script{ :src => '/js/home.js' }